@media only screen and (max-width:1728px) {
  #bg-grid div.row div.col:nth-child(9) {
    display: none;
  }
}

@media only screen and (max-width:1512px) {
  #bg-grid div.row div.col:nth-child(8) {
    display: none;
  }

  .text-huge {
    line-height: 90%;
  }
}

@media only screen and (max-width:1280px) {
  #bg-grid div.row div.col:nth-child(7) {
    display: none;
  }
  .sqs-layout {
    max-width: 1128px;
  }

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
  }
  h3, h3 p {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  .text-huge {
    font-size: 250px;
  }

  section#a37-manifesto .Index-page-content .manifesto-bg+.sqs-layout .manifesto-header+.sqs-row {
    padding-top: 0;
  }
}

@media only screen and (max-width:1024px) {
  body {
    font-size: 14px;
    line-height: 140%;
  }

  .text-huge {
    font-size: 140px;
    line-height: 130%;
  }

  h1 {
    font-size: 60px;
    line-height: 100%;
  }
  h2 {
    font-size: 50px;
    line-height: 110%;
  }
  h3, h3 p {
    font-size: 40px;
    line-height: 110%;
  }
  h4 {
    font-size: 30px;
    line-height: 110%;
  }
  h5 {
    font-size: 20px;
    line-height: 110%;
  }
  h6 {
    font-size: 14px;
    line-height: 150%;
  }

  p, p.regular {
    font-size: 14px;
    line-height: 140%;
  }
  p.small {
    font-size: 12px;
    line-height: 150%;
  }
  p.medium {
    font-size: 14px;
    line-height: 140%;
  }
  p.large {
    font-size: 16px;
    line-height: 140%;
  }
  p strong {
    font-family: var(--font-medium) !important;
    font-weight: 500 !important;

    text-transform: uppercase;
  }

  .Index-page-content {
    padding: 0;
  }
  .sqs-layout {
    padding: 0 16px;
  }

  /* HEADER */
  .Mobile-bar {
    padding: 18px 16px !important;
  }

  /* HERO */
  section#hero .sqs-layout {
    padding: 0;
  }
  section#hero .sqs-layout>.row:nth-child(1) {
    margin-top: var(--gap-80);
    flex-direction: column;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col {
    width: 100%;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) {
    padding: 0 16px;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .button-block {
    display: none;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .image-block {
    width: 100% !important;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .code-block {
    width: 100%;
  }
}