@media only screen and (max-width:1728px) {
  #bg-grid div.row div.col:nth-child(9) {
    display: none;
  }
}

@media only screen and (max-width:1512px) {
  #bg-grid div.row div.col:nth-child(8) {
    display: none;
  }

  .text-huge {
    line-height: 90%;
  }
}

@media only screen and (max-width:1280px) {
  #bg-grid div.row div.col:nth-child(7) {
    display: none;
  }
  .sqs-layout {
    max-width: 1128px;
  }

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
  }
  h3, h3 p {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  .text-huge {
    font-size: 250px;
  }

  section#a37-manifesto .Index-page-content .manifesto-bg+.sqs-layout .manifesto-header+.sqs-row {
    padding-top: 0;
  }
}

@media only screen and (max-width:1024px) {
  body {
    font-size: 14px;
    line-height: 140%;
  }

  .text-huge {
    font-size: 200px;
    line-height: 130%;
  }

  h1 {
    font-size: 60px;
    line-height: 100%;
  }
  h2 {
    font-size: 50px;
    line-height: 110%;
  }
  h3, h3 p {
    font-size: 40px;
    line-height: 110%;
  }
  h4 {
    font-size: 30px;
    line-height: 110%;
  }
  h5 {
    font-size: 20px;
    line-height: 110%;
  }
  h6 {
    font-size: 14px;
    line-height: 150%;
  }

  p, p.regular {
    font-size: 14px;
    line-height: 140%;
  }
  p.small {
    font-size: 12px;
    line-height: 150%;
  }
  p.medium {
    font-size: 14px;
    line-height: 140%;
  }
  p.large {
    font-size: 16px;
    line-height: 140%;
  }
  p strong {
    font-family: var(--font-medium) !important;
    font-weight: 500 !important;

    text-transform: uppercase;
  }

  .Index-page-content {
    padding: 0;
  }
  .sqs-layout {
    padding: 0 16px;
  }

  /* HEADER */
  .Mobile-bar {
    padding: 18px 16px !important;
    background: #00C3B2;
  }
  .Mobile-bar.Mobile-bar--bottom {
    display: none !important;
  }

  /* HERO */

  section#hero .sqs-layout {
    padding: 0;
  }
  section#hero .sqs-layout>.row:nth-child(1) {
    margin-top: var(--gap-80);
    flex-direction: column;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col {
    width: 100%;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) {
    padding: 0 16px 60px;
    box-sizing: border-box;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) .code-block p.large,
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) .code-block h6.medium {
    margin-top: var(--gap-24);
  }


  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) .code-block,
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) .button-block {
    top: 0;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .button-block {
    display: none;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .image-block {
    width: 100% !important;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .code-block {
    width: 100%;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) .code-block .marquee-image .marquee-content {
    gap: 4rem;
    padding: 0 2rem;
  }

  .marquee {
    margin-left: 0;
    height: 54px;
  }

  /* FORMULA */

  section#formula .Index-page-content {
    padding-top: 0;
  }
  section#formula .Index-page-content .sqs-col-12 .row {
    margin-top: var(--gap-80);
  }

  /* BENEFITS */

  section#benefits .Index-page-content .sqs-col-12>.row .col:last-child h2 {
    margin-top: 0;
  }

  /* YOUR SWEET SANCTUARY */

  section#your-sweat-sanctuary .Index-page-content .sqs-layout .sqs-col-12 {
    height: ~"calc(130vw + 53px)";
  }
  section#your-sweat-sanctuary .Index-page-content .sqs-layout .sqs-col-12>.row:nth-child(1) {
    margin-left: 0;
    padding-bottom: 54px;
    width: 47vw !important;
    aspect-ratio: 1 / .86;
  }
  section#your-sweat-sanctuary .Index-page-content .sqs-layout .sqs-col-12>.row:nth-child(1) > .col {
    width: 100%;
  }
  section#your-sweat-sanctuary .Index-page-content .sqs-layout .sqs-col-12>.row:nth-child(1) .col .image-block .image-block-wrapper {
    aspect-ratio: 1 / .86;
  }
  section#your-sweat-sanctuary .Index-page-content .sqs-layout .sqs-col-12>.row:nth-child(2) {
    aspect-ratio: 1 / 1.3 !important;
    top: 53px;
  }
  section#your-sweat-sanctuary .Index-page-content .sqs-layout .sqs-col-12>.row:nth-child(2) .sqs-image-shape-container-element {
    padding-bottom: 0 !important;
    aspect-ratio: 1 / 1.3;
  }

  /* A37 CLASSES */

  section#a37-classes .Index-page-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  section#a37-classes .Index-page-content .sqs-col-12>.row {
    margin-top: 0;
  }
  section#a37-classes .Index-page-content .sqs-col-12>.row:nth-child(1) {
    flex-direction: column;
  }
  section#a37-classes .Index-page-content .sqs-col-12>.row:nth-child(1) > .col {
    width: 100%;
  }
  section#a37-classes .Index-page-content .sqs-col-12>.row:nth-child(1) > .col:nth-child(2) {
    margin-top: var(--gap-60);
    margin-bottom: var(--gap-60);
  }
  section#a37-classes .Index-page-content .sqs-col-12>.row:nth-child(1) h2 {
    margin-top: 0;
  }

  /* OUR SIGNATURE CLASSES *//* A37 MANIFESTO */

  section#our-signature-classes .Index-page-content {
    padding-bottom: var(--gap-80);
  }
  section#our-signature-classes .Index-page-content .sqs-col-12>.row {
    margin-top: var(--gap-60);

    flex-direction: column;
  }
  section#our-signature-classes .Index-page-content .sqs-col-12>.row > .col {
    width: 100%;
  }
  section#our-signature-classes .Index-page-content .sqs-col-12>.row > .col:nth-child(2) {
    margin-top: 40px;
  }
  section#our-signature-classes .Index-page-content .sqs-col-12>.row > .col .sqs-block-button .sqs-block-button-container--right {
    text-align: left;
  }

  section#classes .Index-page-content {
    padding-bottom: 0;
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(1) .col {
    height: 50px;
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(1) h3.tab-title {
    font-size: 14px;
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2) {
    margin-top: var(--gap-40);
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2)>.sqs-col-12>.row.item {
    flex-direction: column;
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2)>.sqs-col-12>.row.item>.col {
    width: 100%;
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2)>.sqs-col-12>.row.item>.col:nth-child(2) {
    padding: 0;
    margin-top: var(--gap-60);
  }

  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2)>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.html-block ul {
    margin-top: var(--gap-16);
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2)>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.html-block+.code-block {
    margin-top: var(--gap-24);
  }
  section#classes .Index-page-content>.sqs-layout>.row:nth-child(2)>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.code-block+.row {
    margin-top: var(--gap-16);
  }

  /* A37 MANIFESTO */

  section#a37-manifesto .Index-page-content .manifesto-bg+.sqs-layout .manifesto-header+.sqs-row {
    margin-top: 0;
    height: 35vw;
  }

  /* HEAT BEAT HIIT */

  section#heat-beat-hiit .Index-page-content {
    margin-bottom: 0;
  }

  /* BLOG */

  section#blog .Index-page-content {
    margin-top: var(--gap-120);
  }
  section#blog.blogItems1 .Index-page-content .blog-articles,
  section#blog.blogItems2 .Index-page-content .blog-articles {
    margin: var(--gap-80) var(--gap-16);
    padding: 0;
  }
  section#blog.blogItems1 .swiper-wrapper,
  section#blog.blogItems2 .swiper-wrapper {
    column-gap: 0;
    padding: 0;
  }
  section#blog .swiper-wrapper .blog-item {
    padding: var(--gap-16) 0;

    border-top: 1px solid var(--text-20);
    border-bottom: 1px solid var(--text-20);
  }
  section#blog .swiper-pagination {
    position: static;
    margin-top: var(--gap-40);

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--gap-32);
  }
  section#blog .swiper-pagination .swiper-pagination-bullet {
    margin: 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    opacity: 1;
    background: var(--text-30) !important;

    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  section#blog .swiper-pagination .swiper-pagination-bullet-active {
    width: 32px;
    background: var(--text-bg) !important;
  }

  /* JOIN THE MOVEMENT */

  section#join-the-movement .Index-page-content {
    margin-bottom: 0;
  }
  section#join-the-movement .Index-page-content .sqs-col-12 > .row:first-child {
    flex-direction: column;
  }
  section#join-the-movement .Index-page-content .sqs-col-12 > .row:first-child > .col {
    width: 100%;
  }
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .row .col:first-child .sqs-block h3+p {
    margin-top: var(--gap-40);
  }
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .row .col:last-child {
    display: none;
  }
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block {
    margin-top: var(--gap-60);
  }

  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block .newsletter-form-body,
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block .newsletter-form-body .newsletter-form-fields-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block .newsletter-form-body .newsletter-form-fields-wrapper {
    row-gap: var(--gap-60);
  }
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block .newsletter-form-body .newsletter-form-fields-wrapper *,
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block .newsletter-form-body .newsletter-form-fields-wrapper .newsletter-form-field-wrapper input {
    width: 100%;
  }

  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block .newsletter-form-body .newsletter-form-button-wrapper {
    margin-top: var(--gap-60);
    width: 100%;
  }
  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12>.sqs-block .newsletter-form-body .newsletter-form-button-wrapper button {
    width: 100%;
    height: 54px;
    max-width: 400px;

    padding: 0 20px;
    box-sizing: border-box;
  }

  section#join-the-movement .Index-page-content .sqs-layout .sqs-col-12 > .sqs-block {
    display: block !important;
    margin: var(--gap-60) 0 0;
  }

  /* FOOTER */

  .Footer .Footer-inner {
    margin-left: 0;
    padding: var(--gap-24) var(--gap-16);
  }
  .Footer .Footer-inner .Footer-blocks--top {
    padding: 20px 0;
  }
  .Footer .Footer-inner .Footer-middle {
    margin-top: var(--gap-60);
    padding-bottom: var(--gap-80);
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row {
    flex-wrap: wrap;
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(1),
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(2) {
    width: ~"calc(50% - 12px)";
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) {
    width: 100%;
    margin-top: var(--gap-60);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--gap-24);
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) > .sqs-block:nth-child(1),
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) > .sqs-block:nth-child(2) {
    display: block;
    width: 100%;
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .form-block {
    margin-bottom: var(--gap-60);
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .form-block+.code-block {
    margin-top: 0;
  }

  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .form-block form .field-list + .form-button-wrapper {
    width: ~"calc(40% - 12px)";
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .form-block form button[type="submit"] {
    width: 100%;
    box-sizing: border-box;
  }

  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .form-block+.code-block h4 {
    margin-bottom: 0;
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .form-block+.code-block h4 br {
    display: block;
  }
  .Footer .Footer-inner .Footer-middle .sqs-layout .sqs-col-12>.row>.col:nth-child(3) .socialaccountlinks-v2-block .sqs-svg-icon--list {
    column-gap: 56px;
    bottom: 0;
  }


  .Footer .Footer-inner .Footer-blocks--bottom {
    padding-left: 0;
    padding-right: 0;
  }
  .Footer .Footer-inner .Footer-blocks--bottom .html-block p br {
    display: block;
  }
}

@media only screen and (max-width:500px) {
  .text-huge {
    font-size: 140px;
    line-height: 130%;
  }
}