@media only screen and (max-width:1728px) {
  #bg-grid div.row div.col:nth-child(9) {
    display: none;
  }
}

@media only screen and (max-width:1512px) {
  #bg-grid div.row div.col:nth-child(8) {
    display: none;
  }

  .text-huge {
    line-height: 90%;
  }
}

@media only screen and (max-width:1280px) {
  #bg-grid div.row div.col:nth-child(7) {
    display: none;
  }
  .sqs-layout {
    max-width: 1128px;
  }

  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 60px;
  }
  h3, h3 p {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  .text-huge {
    font-size: 250px;
  }

  section#formula-items {
    .Index-page-content {
      ul.swiper-wrapper {
        li.swiper-slide {
          h5 {
            padding: 0 var(--gap-20);
          }
        }
      }
    }
  }
  section#a37-manifesto {
    .Index-page-content {
      .manifesto-bg + .sqs-layout {
        .manifesto-header + .sqs-row {
          padding-top: 0;
        }
      }
    }
  }

  section#our-team {
    .Index-page-content {
      .team-mates {
        .team-item {
          width: 364px;
        }
      }
    }
  }
  section#how-to-find-us {
    .sqs-col-12 .sqs-col-2,
    .sqs-col-12 .sqs-col-3 {
      width: 20% !important;
    }
  }
}

@media only screen and (max-width:1024px) {
  body {
    font-size: 20px;
  }
  body.is-mobile-overlay-active {
    .Mobile-bar .Mobile-bar-menu svg:first-child {
      display: none !important;
    }
    .Mobile-bar .Mobile-bar-menu svg:last-child {
      display: block !important;
    }
  }
  p, p.regular {
    font-size: 20px;
  }

  #bg-grid {
    padding-left: 16px;
    padding-right: 16px;

    div.row div.col:nth-child(6) {
      display: none;
    }
  }

  .text-huge {
    font-size: 200px;
    line-height: 130%;
  }

  h1 {
    font-size: 84px;
    line-height: 100%;
  }
  h2 {
    font-size: 74px;
    line-height: 110%;
  }
  h3, h3 p {
    font-size: 56px;
    line-height: 110%;
  }
  h4 {
    font-size: 36px;
    line-height: 110%;
  }
  h5 {
    font-size: 26px;
  }
  h6 {
    font-size: 16px;
    line-height: 150%;
  }

  body:not(.homepage) .Site {
    padding-top: var(--gap-80);
  }
  .Index-page-content {
    padding: 0;
  }
  .sqs-layout {
    padding: 0 16px;
  }

  .marquee {
    margin-left: 0;
    height: 72px;
  }

  /* HEADER */
  .Mobile-bar {
    padding: 12px 16px !important;
    //background: #00C3B2;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .Mobile-bar-branding {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .Mobile-bar-menu {
      padding: 0;
      background: transparent !important;
      border-radius: 0;
    }
  }
  .Mobile-bar.Mobile-bar--bottom {
    display: none !important;
  }

  .Mobile-overlay {
    top: 0;
    z-index: 9;

    .Mobile-overlay-menu {
      width: 100%;

      .Mobile-overlay-menu-main {
        top: 72px;
        margin-top: var(--gap-120);
        padding: var(--gap-60) var(--gap-16) 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        nav.Mobile-overlay-nav.Mobile-overlay-nav--primary {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 32px;

          margin-bottom: var(--gap-120);

          a {
            text-align: center;
            padding-bottom: 0;

            font-family: var(--font-medium);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: 0;
            text-transform: uppercase;
            color: var(--text-100);

            -webkit-font-smoothing: antialiased;
          }
        }
        .Mobile-overlay-contacts {
          width: 100%;
          padding-top: 40px;

          .Mobile-overlay-book .sqs-layout {
            padding: 0;

            a.sqs-block-button-element {
              width: 100%;
              max-width: 340px;
              margin: 0 auto;
              box-sizing: border-box;
            }
          }
          .Mobile-overlay-socials {
            margin-top: var(--gap-80);

            .sqs-layout {
              padding: 0;

              & > .row:first-child {
                margin-bottom: var(--gap-24);

                p {
                  font-family: var(--font-medium);
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 150%;
                  text-transform: uppercase;
                  color: var(--text-100);

                  -webkit-font-smoothing: antialiased;
                }
              }
              & > .row:nth-child(2) {
                .socialaccountlinks-v2-block {
                  nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 78px;

                    & > a {
                      margin: 0;
                      width: 32px;
                      height: 32px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }



  /* HERO */
  section#hero {
    .sqs-layout {
      padding: 0;

      & >.row:nth-child(1) {
        margin-top: var(--gap-80);
        flex-direction: column;

        & > .col {
          width: 100%;
        }
        & > .col:nth-child(1) {
          padding: 0 16px 60px;
          box-sizing: border-box;

          .html-block h1 {
            line-height: 80%;
          }
          .code-block h6.medium {
            font-size: 20px;
          }

          .code-block,
          .button-block {
            top: 0;
          }

          .code-block {
            max-width: 80%;

            p.large,
            h6.medium {
              margin-top: var(--gap-24);
            }
          }
          .button-block {
            margin-top: var(--gap-40);
          }
        }
        & > .col:nth-child(2) {
          .button-block {
            display: none;
          }
          .image-block {
            width: 100% !important;
          }
          .code-block {
            width: 100%;

            .marquee-image .marquee-content {
              gap: 4rem;
              padding: 0 2rem;
            }
          }
        }
      }
    }
  }

  /* FORMULA */
  section#formula {
    .Index-page-content {
      padding-top: 0;
      margin-bottom: var(--gap-80);

      h6 {
        font-size: 20px;
      }
      h2 {
        padding: 0 var(--gap-20);
      }

      .sqs-col-12 .row {
        margin-top: var(--gap-80);
      }
    }
  }
  section#formula-items {
    .Index-page-content {
      .swiper {
        padding-bottom: 50px;

        ul.swiper-wrapper {
          li.swiper-slide.swiper-slide-next {
            border-right: none;
          }
        }
        .swiper-pagination {
          top: auto;
          bottom: 0;

          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: var(--gap-16);

          .swiper-pagination-bullet {
            margin: 0;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            opacity: 1;
            background: var(--text-30) !important;

            -webkit-transition: all .2s linear;
            transition: all .2s linear;
          }
          .swiper-pagination-bullet-active {
            width: 32px;
            background: var(--text-bg) !important;
          }
        }
      }
    }
  }

  /* MELT THE LIMITS */
  section#melt-the-limits {
    .sqs-layout > .row > .col > .row {
      flex-direction: column;

      & > .col {
        width: 100%;
      }
      & > .col:first-child {
        margin-bottom: var(--gap-80);

        h3 p br:first-child {
          display: none;
        }
      }
      & > .col:last-child {
        padding-bottom: 50px;
        overflow-y: hidden;
        max-height: none !important;

        ul {
          display: flex;

          li.item {
            padding-top: 0;
            padding-bottom: 0;

            border-bottom: none;
          }
        }
        .swiper-pagination {
          top: auto;
          bottom: 0;

          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: var(--gap-16);

          .swiper-pagination-bullet {
            margin: 0;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            opacity: 1;
            background: var(--text-30) !important;

            -webkit-transition: all .2s linear;
            transition: all .2s linear;
          }
          .swiper-pagination-bullet-active {
            width: 32px;
            background: var(--text-bg) !important;
          }
        }
      }
    }
  }

  /* BENEFITS */
  section#benefits {
    .Index-page-content {
      margin-top: var(--gap-60);

      .sqs-col-12 > .row {
        .col:last-child {
          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  /* YOUR SWEET SANCTUARY */
  section#your-sweat-sanctuary {
    .Index-page-content {
      .sqs-layout {
        .sqs-col-12 {
          height: ~"calc(130vw + 53px)";

          & > .row:nth-child(1) {
            top: 72px;
            margin-left: 0;
            padding-bottom: 72px;
            width: 47vw !important;
            aspect-ratio: 1 / .86;

            & > .col {
              width: 100%;
            }
            .col .image-block .image-block-wrapper {
              aspect-ratio: 1 / .86;
            }
          }
          & > .row:nth-child(2) {
            aspect-ratio: 1 / 1.3 !important;
            top: 53px;

            .sqs-image-shape-container-element {
              padding-bottom: 0 !important;
              aspect-ratio: 1 / 1.3;
            }
          }
        }
      }
    }
  }

  /* A37 CLASSES */

  section#a37-classes {
    .Index-page-content {
      padding-top: 0;
      padding-bottom: 0;

      .sqs-col-12 > .row {
        margin-top: 0;

        &:nth-child(1) {
          flex-direction: column;

          & > .col {
            width: 100%;

            &:nth-child(2) {
              margin-top: var(--gap-60);
              margin-bottom: var(--gap-60);
            }
          }
          .html-block {
            p {
              font-size: 24px;
            }
          }
          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  /* OUR SIGNATURE CLASSES *//* A37 MANIFESTO */

  section#our-signature-classes {
    .Index-page-content {
      padding-bottom: var(--gap-80);

      .sqs-col-12 > .row {
        margin-top: var(--gap-60);
        flex-direction: column;

        & > .col {
          width: 100%;

          &:nth-child(2) {
            margin-top: 40px;
          }
          .sqs-block-button {
            .sqs-block-button-container--right {
              text-align: left;
            }
          }
        }
      }
      .sqs-col-12>.code-block {
        h6 {
          font-size: 20px;
        }
      }
    }
  }
  section#classes {
    .Index-page-content {
      padding-bottom: 0;

      & > .sqs-layout > .row:nth-child(1) {
        .col {
          height: 50px;
        }
        h3.tab-title {
          font-size: 20px;
        }
      }
      & > .sqs-layout > .row:nth-child(2) {
        margin-top: var(--gap-40);

        & > .sqs-col-12 > .row.item {
          flex-direction: column;

          & > .col {
            width: 100%;

            &:nth-child(2) {
              padding: 0;
              margin-top: var(--gap-60);

              .sqs-layout {
                .sqs-col-12 > .html-block {
                  ul {
                    margin-top: var(--gap-16);

                    li p {
                      font-size: 18px;
                    }
                  }
                  & + .code-block {
                    margin-top: var(--gap-24);
                  }
                }
                .sqs-col-12 > .code-block {
                  & + .row {
                    margin-top: var(--gap-16);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* A37 MANIFESTO */

  section#a37-manifesto {
    .Index-page-content {
      .manifesto-bg + .sqs-layout {
        .manifesto-header {
          padding-bottom: var(--gap-80);

          & + .sqs-row {
            margin-top: 0;
            height: 44vw;
          }
        }
      }
    }
  }

  /* HEAT BEAT HIIT */

  section#heat-beat-hiit {
    .Index-page-content {
      margin-bottom: 0;
    }
  }

  /* BLOG */

  section#blog {
    .Index-page-content {
      margin-top: var(--gap-120);

      .swiper-wrapper {
        .blog-item {
          padding: var(--gap-16) 0;

          border-top: 1px solid var(--text-20);
          border-bottom: 1px solid var(--text-20);

          .item-content .item-date {
            font-size: 20px;
          }
        }
      }
      .swiper-pagination {
        position: static;
        margin-top: var(--gap-40);

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--gap-16);

        .swiper-pagination-bullet {
          margin: 0;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          opacity: 1;
          background: var(--text-30) !important;

          -webkit-transition: all .2s linear;
          transition: all .2s linear;
        }
        .swiper-pagination-bullet-active {
          width: 32px;
          background: var(--text-bg) !important;
        }
      }

      .blog-articles {
        margin: var(--gap-80) var(--gap-16);
      }
    }

    &.blogItems1, &.blogItems2 {
      .Index-page-content .blog-articles {
        margin: var(--gap-80) var(--gap-16);
        padding: 0;
      }
      .swiper-wrapper {
        column-gap: 0;
        padding: 0;
      }
    }


  }

  /* WELCOME AND JOIN */

  section#welcome-and-join {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    #welcomeBlock {
      margin-bottom: 0;
    }
    #joinBlock {
      .sqs-col-12 {
        & > .row:first-child {
          flex-direction: column;

          & > .col {
            width: 100%;
          }
        }
        & > .row {
          .col:first-child {
            .sqs-block
            {
              h3+p {
                margin-top: var(--gap-40);
              }
            }
          }
          .col:last-child {
            display: none;
          }
        }
        & > .sqs-block {
          display: block !important;
          margin: var(--gap-60) 0 0;

          .newsletter-form-body {
            flex-direction: column;
            width: 100%;
            align-items: flex-start;

            .newsletter-form-fields-wrapper {
              width: 100%;
              align-items: flex-start;
              row-gap: var(--gap-60);
              column-gap: var(--gap-24);

              & > fieldset,
              & > div {
                width: 50%;

                input {
                  width: 100% !important;

                  font-size: 20px;
                }
              }

              *,  input {
                width: 100%;
              }
            }
            .newsletter-form-button-wrapper {
              margin-top: var(--gap-60);
              width: 100%;

              button {
                width: 100%;
                height: 54px;
                max-width: 400px;

                padding: 0 20px;
                box-sizing: border-box;

                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  /* FOOTER */

  .Footer {
    .Footer-inner {
      margin-left: 0;
      padding: var(--gap-24) var(--gap-16);

      .Footer-blocks--top {
        padding: 20px 0;
      }
      .Footer-middle {
        margin-top: var(--gap-60);
        padding-bottom: var(--gap-80);

        .sqs-layout .sqs-col-12>.row {
          flex-wrap: wrap;

          &>.col:nth-child(1),
          &>.col:nth-child(2) {
            width: ~"calc(50% - 12px)";
          }
          &>.col:nth-child(3) {
            width: 100%;
            margin-top: var(--gap-60);

            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            column-gap: var(--gap-24);

            & > .sqs-block:nth-child(1),
            & > .sqs-block:nth-child(2) {
              display: block;
              width: 100%;
            }

            .form-block {
              margin-bottom: var(--gap-60);

              form .field-list + .form-button-wrapper {
                width: ~"calc(40% - 12px)";
              }
              form button[type="submit"] {
                width: 100%;
                box-sizing: border-box;
              }
            }
            .form-block+.code-block {
              margin-top: 0;

              h4 {
                margin-bottom: 0;

                br {
                  display: block !important;
                }
              }
            }

            .socialaccountlinks-v2-block .sqs-svg-icon--list {
              column-gap: 56px;
              bottom: 0;
            }
          }
        }
      }
      .Footer-blocks--bottom {
        padding-left: 0;
        padding-right: 0;

        .html-block p br {
          display: block;
        }
      }
    }
  }


  section#invest-in-your-movement {
    .Index-page-content {
      .sqs-col-12>.row {
        column-gap: 24px;
        padding-top: var(--gap-80);
        padding-bottom: 50px;

        .col {
          box-sizing: border-box;
          max-width: ~"calc(50% - 12px)";

          row-gap: 0;

          & > .sqs-block:not(:first-child) {
            margin-top: var(--gap-60);
          }
          & > .button-block {
            margin-top: var(--gap-40) !important;
          }

          & > .markdown-block:nth-child(1) .sqs-block-content h5:first-child {
            height: 57px;
          }
        }
      }
      .swiper-pagination {
        top: auto;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--gap-16);

        .swiper-pagination-bullet {
          margin: 0;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          opacity: 1;
          background: var(--text-30) !important;

          -webkit-transition: all .2s linear;
          transition: all .2s linear;
        }
        .swiper-pagination-bullet-active {
          width: 32px;
          background: var(--text-bg) !important;
        }
      }
    }
  }
  section#pricing-images {
    .Index-page-content .sqs-col-12>.row {
      margin-top: 0;
    }
  }
  section#options {
    .Index-page-content {
      padding-top: 0;
      padding-bottom: var(--gap-80);

      .sqs-col-12>.row {
        flex-direction: column;
        margin-top: 0;
        padding-bottom: 0;

        .sqs-col-6, .sqs-col-5 {
          width: 100%;
        }
        .sqs-col-1 {
          display: none;
        }

        .sqs-col-6 {
          display: flex;
          flex-direction: column;

          & > .row:first-child {
            margin-top: var(--gap-80);
          }
          & > .row:last-child {
            order: 0;
            margin-top: 0 !important;

            flex-direction: column;
            align-items: center;
            row-gap: var(--gap-40);

            & > .col {
              width: 100% !important;
            }

            h6 {
              width: 100%;
              text-align: center;
            }

            .button-block {
              .sqs-block-button-container {
                text-align: center;

                a {
                  width: 100% !important;
                  max-width: 340px;
                  margin: 0 auto;
                  box-sizing: border-box;
                }
              }
            }
          }
          & > .row:not(:last-child) {
            order: 1;
          }
        }
        .sqs-col-5 {
          margin-top: var(--gap-80);

          p {
            font-size: 24px;
          }
        }
      }
    }
  }


  section#who-we-are {
    .sqs-col-12>.row {
      margin-top: var(--gap-80);

      display: flex;
      flex-direction: column;

      & > .col {
        width: 100%;
        
        h3 br:first-child {
          display: none;
        }

        &:last-child {
          margin-top: var(--gap-80);

          h5 + p {
            margin-top: var(--gap-24);
          }
        }
      }
    }
  }
  section#who-we-are-images {
    .Index-page-content {
      padding-bottom: 0;

      .sqs-layout {
        .sqs-col-12 {
          height: ~"calc(130vw + 83px)";

          & > .row:nth-child(1) {
            top: 72px;
            margin-left: 0;
            padding-bottom: 0;
            width: 47vw !important;

            & > .col {
              width: 100%;
            }
          }
          & > .row:nth-child(2) {
            aspect-ratio: 1 / 1.3 !important;
            top: 83px;

            .sqs-image-shape-container-element {
              padding-bottom: 0 !important;
              aspect-ratio: 1 / 1.3;
            }
          }
        }
      }
    }
  }
  section#at-alchemy-37-we-combine {
    .Index-page-content {
      padding-top: var(--gap-120);

     .sqs-col-12>.row:not(:last-child) .markdown-block .sqs-block-content {
       h4 {
         line-height: 100%;
       }
       p {
         margin-top: var(--gap-16);
       }
     }
    }
  }
  section#our-team {
    .Index-page-content {
      margin-top: 0;
      margin-bottom: 0;

      .team-mates {
        margin-top: var(--gap-60);
        padding: 0 var(--gap-16) 50px;
      }
      .swiper-pagination {
        top: auto;
        bottom: 0;

        display: flex !important;
        align-items: center;
        justify-content: center;
        column-gap: var(--gap-16);

        .swiper-pagination-bullet {
          margin: 0;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          opacity: 1;
          background: var(--text-30) !important;

          -webkit-transition: all .2s linear;
          transition: all .2s linear;
        }
        .swiper-pagination-bullet-active {
          width: 32px;
          background: var(--text-bg) !important;
        }
      }
    }
  }
  section#how-to-find-us {
    .Index-page-content {
      .sqs-col-12>.html-block {
        padding-bottom: var(--gap-80);
      }
      .sqs-col-12 .sqs-col-2 {
        width: 30% !important;
      }
      .sqs-col-12 .sqs-col-3 {
        width: 5% !important;
      }
    }
  }

  section#faq-items {
    padding-bottom: 0;

    .faq-columns {
      flex-direction: column;

      & > .col {
        width: 100%;

        &:first-child {
          margin-bottom: var(--gap-80);

          p:first-child {
            font-size: 24px;
          }

          p a {
            margin-top: var(--gap-32);
            width: 100%;
            max-width: 340px;
            box-sizing: border-box;

            justify-content: center;
          }
        }
        &:nth-child(2) {
          ul li {
            padding: var(--gap-20);

            div.answer {
              padding-top: var(--gap-24);
            }

            &.open {
              background: var(--text-10);
            }
          }
        }
      }
    }
  }


  body.collection-type-blog.view-item {
    .Main--blog-item {
      padding-left: 0;
    }
    .Main-content article .article-content .article-body .sqs-layout {
      .sqs-col-12 {
        .row {
          flex-direction: column;

          & > .col {
            width: 100%;

            &:last-child {
              margin-top: var(--gap-60);

              .markdown-block {
                h5 {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:820px) {
  #bg-grid {
    div.row div.col:nth-child(5) {
      display: none;
    }
  }
  /* HERO */
  section#hero .sqs-layout>.row:nth-child(1) {
    height: auto;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(1) .code-block {
    max-width: unset;
  }
  section#hero .sqs-layout>.row:nth-child(1)>.col:nth-child(2) {
    aspect-ratio: 1 / 1;
  }

  /* FORMULA */
  section#formula .Index-page-content .sqs-col-12 .row {
    flex-direction: column;

    &>.col {
      width: 100%;
      padding-right: 0 !important;
      padding-left: 0 !important;

      .code-block {
        .sqs-block-content {
          svg {
            margin: var(--gap-32) 0;
          }
          h5 {
            padding-top: var(--gap-32);
            line-height: 100%;

            br {
              display: none;
            }
          }
        }
      }
      .code-block+.html-block {
        br {
          display: none;
        }
      }

      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  /* MANIFESTO */
  section#a37-manifesto  {
    .Index-page-content {
      .manifesto-bg {
        aspect-ratio: 1 / 1.3;
      }
      .manifesto-bg+.sqs-layout {
        .manifesto-header+.sqs-row {
          height: 82vw;
        }
        .manifesto-header+.sqs-row .item-space {
          width: 30%;
        }
        .manifesto-header+.sqs-row>.col:last-child {
          width: 70%;
        }
        .manifesto-header+.sqs-row .manifesto-items .manifesto-item div.description {
          margin-top: var(--gap-24);
        }
      }
    }
  }
  section#transformation {
    .Index-page-content {
      .sqs-col-12 > .row {
        display: flex;
        flex-direction: column;

        & > .col {
          width: 100%;

          &:last-child {
            margin-top: var(--gap-80);

            .markdown-block h4:after {
              top: 8px;
              bottom: 36px;
            }
          }
        }
      }
    }
  }

  section#faq-items {
    .faq-columns>.col:first-child p:first-child {
      max-width: 80%;
    }
  }

  body.collection-type-blog.view-item .Main-content article .article-header .article-header-content h1.article-title {
    font-size: 60px !important;
  }
}

@media only screen and (max-width:767px) {
  body {
    font-size: 14px;
    line-height: 140%;
  }
  #bg-grid {
    padding-top: 2px;

    div.row div.col:nth-child(4) {
      display: none;
    }
  }

  .text-huge {
    font-size: 140px;
    line-height: 130%;
  }

  h1 {
    font-size: 60px;
    line-height: 100%;
  }
  h2 {
    font-size: 50px;
    line-height: 110%;
  }
  h3, h3 p {
    font-size: 40px;
    line-height: 110%;
  }
  h4 {
    font-size: 30px;
    line-height: 110%;
  }
  h5 {
    font-size: 20px;
    line-height: 110%;
  }
  h6 {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 150%;
  }

  p, p.regular {
    font-size: 14px;
    line-height: 140%;
  }
  p.small {
    font-size: 12px;
    line-height: 150%;
  }
  p.medium {
    font-size: 14px;
    line-height: 140%;
  }
  p.large {
    font-size: 16px;
    line-height: 140%;
  }
  p strong {
    font-family: var(--font-medium) !important;
    font-weight: 500 !important;

    text-transform: uppercase;
  }


  .sqs-layout .sqs-row .sqs-block:first-child {
    padding-top: 0 !important;
  }
  .sqs-layout .sqs-row .sqs-block:last-child {
    padding-bottom: 0 !important;
  }
  .marquee {
    height: 54px;
  }

  body .sqs-row {
    display: block;
  }

  a.sqs-block-button-element, .sqs-block-button .sqs-block-button-element--small, .sqs-block-button .sqs-block-button-element--medium, .sqs-block-button .sqs-block-button-element--large, .button, button {
    font-size: 14px !important;
  }
  a.sqs-block-button-element:hover,
  .sqs-block-button .sqs-block-button-element--small:hover,
  .sqs-block-button .sqs-block-button-element--medium:hover,
  .sqs-block-button .sqs-block-button-element--large:hover,
  .button:hover, button:hover{
    background: var(--button-default) !important;
  }


  /* HEADER */
  .Mobile-overlay {
    .Mobile-overlay-menu {
      .Mobile-overlay-menu-main {
        padding-top: 0;

        nav.Mobile-overlay-nav.Mobile-overlay-nav--primary {
          margin-bottom: var(--gap-80);

          a {
            display: inline-block;
            width: auto;

            &.Mobile-overlay-nav-item--active {
              color: var(--text-0);
            }
          }
        }
      }
      .Mobile-overlay-contacts {
        padding-top: 0;

        .Mobile-overlay-book {
          .sqs-layout .button-block {
            padding: 0 !important;
          }
        }
        .Mobile-overlay-socials{
          .sqs-block {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }

  /* HERO */
  section#hero {
    .sqs-layout > .row:nth-child(1) {
      & > .col:nth-child(1) {
        &  > .sqs-block:first-child {
          padding-top: 0 !important;
        }
        .code-block h6.medium {
          font-size: 14px;
        }
        .button-block {
          padding-bottom: 0 !important;

          a {
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
      & > .col:nth-child(2) {
        width: 100% !important;
        aspect-ratio: 1 / 1.3;
      }
      & > .col:nth-child(2) .sqs-block,
      & > .col .sqs-block {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    .sqs-layout > .row:nth-child(2) {
      & > .col .sqs-block {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  /* FORMULA */
  section#formula {
    .Index-page-content {
      .code-block, .markdown-block {
        padding-top: 0 !important;

        h6 {
          font-size: 14px;
          font-weight: 400;
        }
      }
      h2 {
        padding: 0;
      }
    }
  }
  section#formula-items {
    .Index-page-content {
      ul.swiper-wrapper {
        li.swiper-slide {
          border-right: none !important;
          padding-left: 0 !important;
          padding-right: 0 !important;

          .image {
            padding: var(--gap-32);

            img {
              height: 140px;
            }
          }
          h5 {
            margin-top: var(--gap-32);
          }
        }
      }
    }
  }

  /* BENEFITS */
  section#benefits {
    .Index-page-content {
      margin-top: 0;

      h2+h2 {
        display: block;
        margin-top: 0;
      }

      .sqs-col-12>.row {
        margin-top: var(--gap-24);
      }
      .sqs-col-12>.row .col:first-child {
        width: 100% !important;
      }
      .sqs-col-12>.row .col:last-child {
        display: none;
      }
    }
  }

  /* MELT THE LIMITS */
  section#melt-the-limits {
    .sqs-layout > .row > .col > .row > .col {
      width: 100% !important;
    }
    .sqs-layout > .row > .col > .row > .col:first-child h3 p br:first-child {
      display: block;
    }
    .sqs-layout > .row > .col  >.row > .col:last-child ul {
      margin-top: 0;
    }
    .sqs-layout>.row>.col>.row .col:last-child ul li.item .item-number+div h4 {
      margin-top: -8px;
    }
    .sqs-layout>.row>.col>.row .col:last-child ul li.item .item-number {
      padding-right: var(--gap-20);
      margin-top: -4px;
    }
    .sqs-layout>.row>.col>.row .col:last-child ul li.item .item-number+div {
      padding-left: var(--gap-16);
    }
    .sqs-layout>.row>.col>.row .col:last-child ul li.item .item-number+div .item-description {
      margin-top: var(--gap-24);
    }
  }

  /* YOUR SWEET SANCTUARY */
  section#your-sweat-sanctuary {
    .Index-page-content .sqs-layout .sqs-col-12>.row:nth-child(1) {
      padding-bottom: 54px;
    }
  }

  /* A37 CLASSES */
  section#a37-classes {
    .Index-page-content {
      .sqs-col-12>.row:nth-child(1)>.col:nth-child(2) {
        margin-top: 40px;
      }
      .sqs-col-12>.row:nth-child(1) .html-block p {
        font-size: 14px;
      }
      .sqs-col-12>.row:nth-child(2) {
        display: flex;
        column-gap: 24px;

        & > .col {
          width: 50% !important;
        }
        & > .col:nth-child(1) .image-block .image-block-wrapper {
          aspect-ratio: 1 / 1.3;
        }
      }
    }
  }

  /* OUR SIGNATURE CLASSES */
  section#our-signature-classes {
    .Index-page-content {
      .sqs-col-12>.row>.col .sqs-block-button .sqs-block-button-container--right {
        a {
          box-sizing: border-box;
          width: 100%;
        }
      }
    }
  }

  /* CLASSES */
  section#classes {
    .Index-page-content>.sqs-layout>.row:nth-child(1) {
      display: flex;

      .col {
        width: 33.333% !important;

        h3.tab-title {
          font-size: 14px !important;
        }
      }
    }
    .Index-page-content>.sqs-layout>.row:nth-child(2) {
      margin-top: var(--gap-40) !important;

      &>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.html-block ul li p {
        font-size: 14px;
      }
      &>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.html-block ul + p {
        margin-top: var(--gap-24);
      }
      &>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.code-block+.row,
      &>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.code-block+.row+.row {
        display: flex;
        column-gap: 24px;

        & > .col {
          width: 50% !important;

          .code-block {
            width: 44px;
          }
          .html-block {
            width: ~"calc(100% - 44px)";
          }
        }
      }
      &>.sqs-col-12>.row.item>.col:nth-child(2) .sqs-layout .sqs-col-12>.code-block+.row+.row {
        margin-top: var(--gap-16) !important;
      }
    }
  }

  /* A37 MANIFESTO */
  section#a37-manifesto {
    .Index-page-content {
      .manifesto-bg {
        aspect-ratio: 1 / 1.4;

        img {
          object-position: 30% 50%;
        }
      }
      .manifesto-bg+.sqs-layout {
        padding-top: var(--gap-40);

        .manifesto-header {
          margin-bottom: var(--gap-40);

          h2 {
            line-height: 80%;
          }
        }
        .manifesto-header+.sqs-row {
          padding-left: 25%;
          height: 68vw;

          .manifesto-items {
            .manifesto-item {
              span.number {
                font-size: 12px;
                line-height: 100%;
              }
              h4.title {
                margin-top: var(--gap-8);
                font-size: 14px;
              }
              div.description {
                margin-top: var(--gap-16);
              }
            }
          }
        }
      }
    }
  }

  /* BLOG */
  section#blog {
    .Index-page-content {
      padding-top: 0;

      .blog-header h2 {
        margin-top: var(--gap-16);
      }
      .blog-articles {
        margin: var(--gap-60) var(--gap-16) 0;

        .blog-item .item-content .item-date {
          font-size: 12px;
        }
      }
    }
    &.blogItems1,
    &.blogItems2 {
      .Index-page-content .blog-articles {
        margin: var(--gap-60) var(--gap-16) 0;
      }
    }
  }

  /* WELCOME AND JOIN */
  section#welcome-and-join {
    margin-top: 0;
    margin-bottom: 0;

    #welcomeBlock {
      margin-bottom: 0;

      .html-block {
        h2, h3 {
          line-height: 80%;
        }
        h2 + h3 {
          margin-top: var(--gap-20);
        }
        h3+h3 {
          margin-top: var(--gap-20);
        }
        h3 {
          display: block;
          width: 100%;

          &:nth-child(3) {
            text-align: center;
          }
          &:nth-child(4) {
            text-align: right;
          }
        }
      }
      .sqs-col-12>.row {
        margin-top: var(--gap-24);
      }
      & > .row > .col > .row > .col:first-child {
        width: 100% !important;
      }
      & > .row > .col > .row > .col:last-child {
        display: none;
      }
    }
    #joinBlock {
      .sqs-col-12>.sqs-block .newsletter-form-body {
        .newsletter-form-fields-wrapper {
          flex-direction: column;

          & > fieldset input,
          & > div input {
            font-size: 12px;
            background: #ffffff !important;
          }

          & > * {
            width: 100% !important;
          }
        }

        .newsletter-form-button-wrapper button {
          font-size: 14px;
        }
      }
      .newsletter-block {
        margin-top: var(--gap-60) !important;
      }
    }
  }

  .Footer {
    .Footer-inner {
      .Footer-middle {
        .sqs-layout {
          .sqs-col-12>.row>.col:nth-child(1),
          .sqs-col-12>.row>.col:nth-child(2) {
            width: ~"calc(50% - 12px)" !important;
          }
          .sqs-col-12>.row>.col:nth-child(3) {
            .form-block form {
              flex-direction: column;

              .field-list,
              .field-list+.form-button-wrapper {
                width: 100% !important;
              }
              .field-list+.form-button-wrapper {
                margin-top: var(--gap-40);
              }
            }
          }
        }
      }
      .Footer-blocks--bottom {
        .sqs-col-12 .row {
          display: flex !important;
          column-gap: 24px;

          .col {
            width: 50% !important;
          }
        }
        .html-block p,
        .html-block a {
          font-size: 12px;
        }
      }
    }
  }


  /* INVEST IN YOUR MOVEMENT */
  section#invest-in-your-movement {
    .Index-page-content {
      .sqs-col-12>.html-block h2 br {
        display: none !important;
      }
      .sqs-col-12>.row {
        column-gap: 0;

        .col {
          width: 100% !important;
          max-width: 100%;

          &>.markdown-block:nth-child(1) .sqs-block-content h5:first-child {
            height: 44px;
          }
          &>.markdown-block:nth-child(3) {
            height: 62px;
          }
          h3 {
            line-height: 80%;
          }
        }
      }
    }
  }
  /* PRICING IMAGES */
  section#pricing-images {
    .Index-page-content .sqs-col-12>.row {
      display: flex;
      column-gap: 24px;

      & > .col {
        width: 50% !important;
      }
      & > .col:nth-child(1) .image-block .image-block-wrapper {
        aspect-ratio: 1 / 1.3;
      }
    }
  }
  /* OPTIONS */
  section#options {
    .Index-page-content {
      .sqs-col-12>.row .sqs-col-6>.row:last-child .button-block .sqs-block-button-container a {
        max-width: none;
      }
      .sqs-col-12>.row>.col:nth-child(1)>.row {
        justify-content: space-between;
        align-items: baseline;

        .markdown-block h5:first-child {
          height: 25px;
          line-height: 25px;
        }
        .html-block h3 {
          line-height: 25px;
        }

      }
      .sqs-col-12>.row .sqs-col-5 p {
        font-size: 14px;
      }
    }
  }


  /* WHO WE ARE */
  section#who-we-are {
    .sqs-col-12>.markdown-block h6 {
      line-height: 80%;
    }
    .sqs-col-12>.html-block {
      margin-top: var(--gap-16);
    }

    h5 {
      max-width: 250px;
    }
    h4 {
      max-width: 80%;
      margin-top: var(--gap-20) !important;
    }
  }

  /* AT ALCHEMY 37 WE COMBINE */
  section#at-alchemy-37-we-combine {
    .Index-page-content {
      .sqs-col-12>.html-block {
        margin: 0 !important;
        max-width: 300px;

        h3 {
          text-align: left !important;
        }
      }
      .sqs-col-12>.row:not(:last-child) {
        margin-top: 28px;

        & > .sqs-col-6 {
          padding: var(--gap-32) 0;
          border-bottom: 1px solid var(--text-30);

          .markdown-block{
            padding-left: 38px !important;

            &:before {
              font-size: 12px;
              line-height: 120%;
            }
            .sqs-block-content {
              padding-left: var(--gap-16);

              h4 {
                font-size: 20px;
              }
              p {
                margin-top: var(--gap-20);
              }
            }
          }
        }
      }
      .sqs-col-12>.row:nth-last-child(2) {
        & > .sqs-col-6:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
      }
      .sqs-col-12>.row:last-child {
        display: flex;
        column-gap: var(--gap-24);
        margin-top: var(--gap-120) !important;

        & > .col {
          width: 50% !important;

          &:last-child {
            .image-block .image-block-wrapper {
              aspect-ratio: 1 / 1.3;

              & > div img {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }

  /* TRANSFORMATION */
  section#transformation {
    .Index-page-content {
      .sqs-col-12>.row>.col:last-child {
        margin-top: 70px;
      }
      .sqs-col-12 .row .col:last-child .markdown-block {
        h4 {
          padding-left: 55px;

          font-size: 20px;
          line-height: 110%;

          &:before {
            font-size: 12px;
            line-height: 120%;
          }
          &:after {
            top: 4px;
            left: 38px;
            bottom: 32px;
          }
        }
        h4:last-child {
          padding-bottom: 0;
        }
        h4+h4:after {
          top: 36px;
        }
      }
    }
  }

  /* OUR TEAM */
  section#our-team {
    .Index-page-content {
      .team-header h6 {
        max-width: 240px;
        margin: 0 auto;
      }
      .team-mates {
        margin-left: var(--gap-16);
        margin-right: var(--gap-16);
        padding-left: 0;
        padding-right: 0;

        .team-item {
          padding: var(--gap-16) 0;
          width: 100%;

          border-top: 1px solid var(--text-30);
          border-bottom: 1px solid var(--text-30);
        }
      }
    }
  }

  /* HOW TO FIND US */
  section#how-to-find-us {
    .Index-page-content {
      .sqs-col-12>.markdown-block {
        h6 {
          line-height: 80%;
        }
      }
      .sqs-col-12>.html-block {
        margin-top: var(--gap-24);
        padding-bottom: var(--gap-60) !important;

        h2 {
          max-width: 280px;
          margin: 0 auto;
        }
      }
      .sqs-col-12 > .row {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--gap-24);
        row-gap: var(--gap-32);

        .sqs-col-3 {
          display: none;
        }
        .sqs-col-2 {
          width: ~"calc(50% - 12px)" !important;
        }
      }
    }
  }


  section#faq-items {
    .faq-columns {
      margin-top: var(--gap-120) !important;
    }
    .faq-columns>.col:first-child p:first-child {
      font-size: 14px;
      max-width: none;
    }
    .faq-columns>.col:first-child p a {
      max-width: 100%;
    }
    .faq-columns>.col:nth-child(2) ul li div.question {
      height: 32px;
      column-gap: 44px;

      span {
        height: 32px;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }


}

@media only screen and (max-width:500px) {
  .text-huge {
    font-size: 140px;
    line-height: 130%;
  }
}